body{
    padding:100px;
}

.submit-area{
    margin-top: 40px;
    box-shadow: 5px 5px 10px grey;
    padding:40px;
    border-radius: 10px;

}

#transaction-area{
    display:none;    
}


.status{
    margin: 0px 20px;
    color: white;
    border-radius: 5px;
}
.deposit{
    
    background-color: lightsalmon;
}

.withdraw{
    background-color: purple;
}

.balance{
    background-color: blue;
}
